.system-loading{
    padding: 0rem 2.5rem;
}

.system-loading-item{
    width: 100%;
    height: 48px;
    margin-top: 1rem;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .system-loading{
        padding: 0rem 1rem;
    }
}