.student-container {
    padding: 0rem 2.2rem;
    padding-bottom: 7rem;
    position: relative;
}

.student-header {
    margin-top: 1rem;
}

.student-header input {
    width: 97%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid gray;
}

.student-header div {
    font-size: 23px;
    background-color: #5d17eb;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 0.8rem;
    cursor: pointer;
}

.student-body {
    margin-top: 2rem;
}

.student-name img {
    width: 22px;
    margin-right: 0.3rem;
}

.student-body table {
    width: 100%;
    border-collapse: collapse;
}

.student-header-body tr {
    color: gray;
    font-size: 17px;
}

.student-header-body::after {
    content: "@";
    display: block;
    line-height: 20px;
    text-indent: -99999px;
}

.student-header-body td {
    padding: 0rem 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.student-row {
    font-size: 18px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.student-row td {
    padding: 1rem 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.student-action i {
    font-size: 23px;
    margin-right: 0.7rem;
    cursor: pointer;
}

.student-action i:first-child {
    color: #5d17eb;
}

.student-action i:last-child {
    color: #ff3131;
}

.student-footer {
    position: absolute;
    bottom: 40px;
}

.student-footer button {
    background: none;
    text-decoration: inherit;
    font-family: system-ui;
    font-size: 1.1rem;
    cursor: pointer;
    width: 120px;
    height: 50px;
    margin-right: 0.7rem;
    border: 2px solid transparent;
    background:
        linear-gradient(to right, white, white),
        linear-gradient(to right, #5d17eb, #ff3131);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border-radius: 20px;
}

.update-student-popup,
.add-student-popup,
.remove-student-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.5);
    transition: 0.5s;
}

.student-popup-hide {
    background-color: transparent !important;
    transition: 0.5s;
}

.update-student-container,
.add-student-container,
.remove-student-container {
    position: absolute;
    background-color: #fff;
    width: 40%;
    padding: 1rem;
    border-radius: 10px;
    top: 120px;
    overflow-y: scroll;
    max-height: 80vh;
    transition: 0.7s;
}

.update-top {
    top: -1200px;
    transition: 0.7s;
}

.update-popup-head,
.add-popup-head {
    padding-bottom: 0.7rem;
    border-bottom: 1px solid rgb(181, 180, 180);
}

.update-popup-head p,
.add-popup-head p {
    font-size: 25px;
}

.update-popup-body,
.add-popup-body {
    padding: 0.8rem 0rem;
}

.update-popup-body label,
.add-popup-body label{
    display: block;
    color: rgb(27, 27, 27);
    margin-bottom: 0.3rem;
}

.update-popup-body input,
.add-popup-body input{
    width: 100%;
    padding: 0.7rem 0.6rem;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 0.5rem;
}

.show-password input{
    width: 18px;
}

.show-password p{
    margin-bottom: 0.3rem;
    font-size: 15px;
    color: black;
}

.update-popup-select-class select,
.add-popup-select-class select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    flex: 1;
    background-color: #fff;
    background-image: none;
    cursor: pointer;
    font-size: 16.5px;
}

.update-popup-select-class,
.add-popup-select-class {
    position: relative;
    display: flex;
    width: 100%;
    height: 2.5em;
    padding-left: 0.5rem;
    border-radius: .40em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0.5rem 0rem;
}

.update-popup-select-class::after,
.add-popup-select-class::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.7em;
    background-color: #5d17eb;
    color: #fff;
    transition: .25s all ease;
    pointer-events: none;
}

.popup-btn {
    background-color: #ff3131;
}

.popup-btn2 {
    background-color: #5d17eb;
    margin-left: 0.5rem;
    width: 100px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .update-student-container,
    .add-student-container,
    .remove-student-container {
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .student-container {
        padding: 0rem 1.2rem;
        padding-bottom: 12rem;
    }

    .student-body {
        overflow-x: auto;
    }

    .student-footer {
        bottom: 120px;
    }

    .update-student-container,
    .add-student-container,
    .remove-student-container {
        width: 70%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .student-container {
        padding: 0rem 1rem;
        padding-bottom: 12rem;
    }

    .update-student-container,
    .add-student-container,
    .remove-student-container {
        width: 95%;
    }

    .student-header div{
        height: 47px;
    }
}