.contact-mobile {
    padding: 0.5rem 1rem;
    padding-bottom: 6rem;
}

.icon {
    background-color: #5d17eb;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon i {
    color: #fff;
    font-size: 20px;
}

.info {
    margin-left: 1rem;
}

.social-link i {
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    font-size: 25px;
    cursor: pointer;
}

.social-link i:nth-child(1) {
    margin-left: 0rem;
}

.contact-mobile-btn {
    padding: 0.6rem;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    -webkit-animation: anime 16s linear infinite;
    animation: anime 16s linear infinite;
    width: 100px;
    margin-top: 1rem;
    cursor: pointer;
}

@-webkit-keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.contact-mobile-info{
    margin-bottom: 0.5rem;
}

.contact-mobile-form{
    border: 1px solid #5d17eb;
    padding: 1.5rem 1.8rem;
    width: 90%;
    border-radius: 20px;
    margin-top: 1rem;
}

.contact-mobile-form input{
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 0.2rem;
}

.last-mobile-input{
    padding: 0.8rem 0rem !important;
}

.contact-mobile-form p{
    font-size: 30px;
    margin-bottom: 1rem;
}

.contact-mobile-container{
    margin-left: 0.1rem;
}

.download-app img{
    width: 51%;
    margin-top: 0.5rem;
    cursor: pointer;
}

.install-ios{
    position: fixed;
    bottom: 100px;
    transition: 0.7s;
}

.install-down{
    bottom: -500px !important;
}

.install-container{
    position: relative;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    margin-right: 1rem;
    border-radius: 15px;
}

.install-header img{
    width: 80px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 18px;
    margin-bottom: 1rem;
}

.install-header p{
    font-weight: bold;
}

.install-body p{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 13px;
    color: rgb(22, 22, 22);
    margin-bottom: 0.8rem;
}

.install-footer{
    padding-top: 0.6rem;
    border-top: 1px solid rgb(175, 173, 173);
}

.install-footer img{
    width: 20px;
    margin: 0rem 0.3rem;
}

.install-footer p{
    font-size: 15px;
}

.close-install{
    position: absolute;
    top: 6px;
    right: 15px;
}

.close-install p{
    cursor: pointer;
    font-size: 30px;
}


@media only screen and (max-width: 600px) {
    .contact-mobile-form{
        width: 99%;
        padding: 1.5rem 1.4rem;
    }
    .info {
        margin-left: 0.7rem;
    }
}
