.question-loading{
    padding: 1rem 1rem;
    width: 60%;
    margin: auto;
}

.loading-number-container{
    margin-top: 1rem;
}

.question-loading-number{
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
}

.question-loading-btn-cont{
    width: 100%;
    justify-content: flex-start;
}

.question-loading-btn{
    width: 220px;
    height: 50px;
    margin-top: 0.6rem;
    border-radius: 10px;
}

.question-loading-body{
    width: 100%;
    height: 480px;
    margin-top: 1.5rem;
    border-radius: 10px;
}

@media only screen and (max-width: 992px) {
    .question-loading{
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .question-loading{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .square1,
    .square2,
    .square3,
    .square4,
    .square5{
        display: none;
    }

    .question-loading-body{
        height: 400px;
    }
}