.reset-password {
    height: 100vh;
}

.reset-password-logo {
    margin-bottom: 1.5rem;
}

.reset-password-logo img {
    width: 280px;
}

.reset-password-title p {
    font-size: 25px;
    color: rgb(40, 39, 39);
}

.reset-password-title {
    margin-bottom: 1.6rem;
}

.reset-password-input input{
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    width: 340px;
    border: 1px solid rgb(154, 152, 152);
}

.reset-password-btn {
    padding: 0.6rem 1.5rem;
    font-size: 20px;
    text-align: center;
    width: 340px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    cursor: pointer;
    margin-top: 1rem;
    -webkit-animation: anime 16s linear infinite;
    animation: anime 16s linear infinite;
}

@-webkit-keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
