.dashboard-school{
    padding: 0rem 2.2rem;
    padding-bottom: 6.5rem;
}

.dashboard-school-header{
    font-size: 30px;
    line-height: 2.2rem;
    font-weight: bold;
    padding-left: 0.3rem;
    margin-top: 1rem;
}

.dashboard-school-header p:last-child{
    color: orange;
}

.dashboard-school-body{
    margin-top: 0.5rem;
}

.dashboard-school-body a {
    width: 33%;
    cursor: pointer;
    margin-top: 0.8rem;
}

@media only screen and (max-width: 1100px) {
    .dashboard-school-header{
        font-size: 25px;
        line-height: 2rem;
    }
    
    .dashboard-school-body a {
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .dashboard-school-body a {
        width: 100%;
    }

    .dashboard-school{
        padding: 0rem 1.2rem;
        padding-bottom: 6.5rem;
    }

    .dashboard-school-body a {
        margin-top: 0.3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .dashboard-school{
        padding: 0rem 1rem;
        padding-bottom: 6.5rem;
    }

    .dashboard-school-header{
        font-size: 19px;
        line-height: 1.3rem;
        margin: 0.5rem 0rem;
    }
}